# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
gort

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
c.out
dist
coverage.html
codeclimate/**